@use "../variables" as vars;

.nav-link {
  font-weight: 500;
  text-decoration: none;
  color: vars.theme-color(link-color);
  position: relative;

  display: inline-block;
  border-bottom: 2px solid transparent;
  padding-bottom: 27px;

  &:active {
    border-bottom-color: vars.theme-color(link-color);
  }
}

.social-link,
.info-link {
  font-weight: 400;
  color: vars.theme-color("link-color-light");

  &:hover,
  &:focus,
  &:active {
    color: vars.theme-color("link-color");
  }
}

.help-link {
  font-weight: 400;
  color: vars.theme-color("link-color");

  &:hover,
  &:focus,
  &:active {
    color: vars.theme-color("link-color-light");
  }
}

.more-link {
  font-weight: 700;
  color: vars.theme-color("accent-color");

  &:hover,
  &:focus,
  &:active {
    color: vars.theme-color(link-color);
  }
}

button.action-btn-primary {
  font-weight: 500;
  color: vars.theme-color("opposite-color");
  background-color: vars.theme-color("main-color");

  height: 32px;
  width: 288px;
  border: 4px solid black;
  border-radius: 4px;

  &:hover,
  &:focus,
  &:active {
    color: vars.theme-color("main-color");
    background-color: vars.theme-color("opposite-color");
  }
}

button.action-btn-secondary {
  font-weight: 500;
  color: vars.theme-color("main-color");
  background-color: vars.theme-color("opposite-color");

  height: 32px;
  width: 288px;
  border: 4px solid black;
  border-radius: 4px;

  &:hover,
  &:focus,
  &:active {
    color: vars.theme-color("opposite-color");
    background-color: vars.theme-color("main-color");
  }
}

button.info-btn {
  font-weight: 700;
  color: vars.theme-color("main-color");
  background-color: vars.theme-color("opposite-color");

  height: 52px;
  width: 192px;
  border: 2px solid vars.theme-color("main-color");
  border-radius: 6px;

  &:hover,
  &:focus,
  &:active {
    color: vars.theme-color("opposite-color");
    background-color: vars.theme-color("main-color");
  }
}
