.nav-link {
  display: inline-block;

  padding-bottom: 27px;
  font-weight: $fw-medium;
  color: theme-color("link-color");
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &.router-link-active,
  &:hover,
  &:active {
    border-bottom-color: theme-color("link-color");
  }

  &:focus-visible {
    outline: 2px solid theme-color("link-color");
    outline-offset: 2px;
  }
}

.social-link,
.info-link {
  font-weight: $fw-regular;
  color: theme-color("link-color-light");

  &:hover,
  &:focus,
  &:active {
    color: theme-color("link-color");
  }
}

.help-link {
  font-weight: $fw-regular;
  color: theme-color("link-color");

  &:hover,
  &:focus,
  &:active {
    color: theme-color("link-color-light");
  }
}

.more-link {
  font-weight: $fw-bold;
  color: theme-color("accent-color");

  &:hover,
  &:focus,
  &:active {
    color: theme-color("link-color");
  }
}

.icon-link {
  color: theme-color("link-color-light");

  &:hover,
  &:focus,
  &:active {
    color: theme-color("link-color");
  }
}
