.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.p-relative {
  position: relative;
}

.justify-between {
  justify-content: space-between;
}
