@use "../variables" as vars;

.content {
  margin-top: 16px;

  @media (min-width: vars.$breakpoints-m) {
    margin-top: 32px;
  }

  @media (min-width: vars.$breakpoints-l) {
    margin-top: 64px;
  }
}
