@use "../globals" as *;

.container {
  box-sizing: border-box;
  width: 100%;

  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: $breakpoints-m) {
    max-width: $breakpoints-m;
    padding: 0 24px;
  }

  @media (min-width: $breakpoints-l) {
    max-width: $breakpoints-l;
    padding: 0 48px;
  }

  @media (min-width: $breakpoints-xl) {
    max-width: $breakpoints-xl;
    padding: 0 96px;
  }
}
