@use "../_variables.scss" as vars;

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 346px;
  padding: 0 16px;

  @media (min-width: vars.$breakpoints-m) {
    max-width: 696px;
    padding: 0 36px;
  }
  @media (min-width: vars.$breakpoints-l) {
    max-width: 936px;
    padding: 0 36px;
  }
  @media (min-width: vars.$breakpoints-xl) {
    max-width: 1216px;
    padding: 0 112px;
  }
}
